
body {
 font-size: 24px;
 color: teal;
 font-family: Calibri;
 text-align:center;
 max-width:1248px;
 margin-left:auto;
 margin-right:auto;
 background-color:#f2f2f2;
}

td {
 font-size: 24px;
 color: black;
 width: 100px;
 height: 22px;
 text-align: center;
}

.heading {
 font-size: 18px;
 color: white;
 font: bold;
 background-color: orange;
 border: thick;
}

h1 {
font-size:40px;
color:#fff;	
}

table {

text-align:center;
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
padding:10px;
width:100%;
max-width:600px;
}

.button {
width:auto;
height:auto;
padding:10px;
background-color:teal;
color: #fff;	
margin-left:auto;
margin-right:auto;
border:0px;
border-radius:10px;
font-size:3
0px;
}

#headerArea {
width:100%;
background-color:teal;
height:60px;
margin-bottom:10px;	
}
